*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.WhatWeDo-index-maincontainer{
    margin-left: 2rem;
    margin-right: 2rem;
}
.WhatWeDo-leftcontainer{
    display: flex;
    flex-direction: column;
}
body{
    background-color: #F4EEDB;
}
.WhatWeDo-mobileview{
    display: none;
}
.WhatWeDo-line-img{
    display: none;
}
.WhatWeDo-service-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.WhatWeDo-service-container h1{
    
    color: #0A4988; font-size: 3.75rem; font-family: Calibri; font-weight: 700; word-wrap: break-word;
}
.WhatWeDo-index-maincontainer{
    display: flex;
    justify-content: center;
    /* gap: 11.25rem; */

}
.WhatWeDo-leftcontainer{
    display: flex;
    flex-direction: column;
}
.WhatWeDo-spaceinleftsection{
    max-height: 3.438rem;
}
.WhatWeDo-rightcontainer{
    display: flex;
    flex-direction: column;
}
.WhatWeDo-midcontainer{
    z-index: -1;
    margin-left: 4rem;
    margin-top: 1rem;
}
.WhatWeDo-vector1{
    
    z-index: -1;
    margin-left: -11.25rem;
    margin-right: -0.25rem;
    margin-top: 12.25rem;
    
}
.WhatWeDo-vector2{
    z-index: -1;
    
}
.WhatWeDo-paragraphediting{
    /* height: 31.125rem; */
    max-width: 34.938rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-bottom: 2.938rem;

}

.WhatWeDo-tabletviewpath{
    display: none;
}
.WhatWeDo-paragraphediting h1{
    font-size: 3.75rem;
    max-width: 56.375rem;
    /* min-width: 18.938rem; */
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.WhatWeDo-paragraphediting h3{
    font-size: 2.5rem;
    color: #000;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.WhatWeDo-paragraphediting p{
    font-size: 1.125rem;
    color: #000;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:1rem ;
}
.WhatWeDo-imageediting{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.WhatWeDo-imageediting1 {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.75rem;
    margin-top: 6rem;

}
.WhatWeDo-imageediting2 {
    max-width: 100%;
    height: auto;
    margin-bottom: 6.275rem;
}
.WhatWeDo-imageediting3 {
    max-width: 100%;
    height: auto;
    margin-bottom: 3.875rem;
    margin-top: 10rem;
}
.WhatWeDo-imageediting4 {
    max-width: 100%;
    height: auto;
margin-bottom: 6.875rem;
margin-top: 2rem;
}
.WhatWeDo-imageediting5 {
    max-width: 100%;
    height: auto;
margin-bottom: 2.875rem;
margin-top: 2.75rem;
}
.WhatWeDo-imageediting0{
    max-width: 100%;
    height: auto;
    margin-bottom: 4.875rem;
    /* margin-top: 2rem; */
    
}
.WhatWeDo-rightsection1{
    max-width: 40.813rem;
    height: 28.5rem;
}

/* .WhatWeDo-beforeimage {
    border-radius: 3.75rem;
    max-width: 53.313rem;
    max-height:38.375rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
    z-index: -1;

} */
.WhatWeDo-index-maincontainer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.WhatWeDo-index-maincontainer2-section{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    column-gap: 4.688rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.WhatWeDo-imagedownsection{
    display: flex;
    flex-direction: row-reverse;
    column-gap: 4.688rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.WhatWeDo-visibleimage{
    display: none;
}
.WhatWeDo-index-maincontainer2 h1{
    color: #000;
    font-size: 3.75rem;
    font-family: Calibri;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.WhatWeDo-index-maincontainer2 p{
    color: #000;
    text-align: center;
    font-size: 1.125rem;
    font-family: Calibri;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 74.375rem;
}
.WhatWeDo-rightsectiondown{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.WhatWeDo-leftsectiondown{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.WhatWeDo-index-maincontainer2-section h1{
    color: #000;
    font-size: 2.5rem;
    font-family: Calibri;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    /* max-height: 3.063rem; */
}
.WhatWeDo-index-maincontainer2-section h3{
    color: #000;
    font-size: 1.625rem;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    /* max-height: 4.125rem; */
}

.WhatWeDo-leftsectiondown p{
    max-width: 45.938rem;
    margin-bottom: 2.813rem;
    text-align: left;
    font-weight: 400;
}
.WhatWeDo-rightsectiondown p{
    max-width: 45.938rem;
    margin-bottom: 2.813rem;
    text-align: left;
    font-weight: 400;
    /* min-height: 24.3rem; */
    
}
.WhatWeDo-rightsectiondown h1{
    text-align: center;
    /* height: 3.063rem; */
}
.WhatWeDo-rightsectiondownimage{
    max-width: 100%;
    height: auto;
}
.WhatWeDo-leftsectiondownimage{
    max-width: 100%;
    height: auto;
}
.WhatWeDo-vector3{
    display: none;
}



/* tabletviewcss */
@media only screen and (max-width:81.25rem){
    
    .WhatWeDo-service-container{
        margin: 0.625rem;
    }
    .WhatWeDo-index-maincontainer{
        margin-bottom: 1.5rem;
    }
    .WhatWeDo-service-container h1{
        color: #0A4988;
        font-size: 3rem;
        font-family: Calibri;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
    }
    .WhatWeDo-heading-line{
        max-width: 5.25rem;
    }
    .WhatWeDo-leftsection2{
        max-width: 23.188rem;
        /* max-height: 25rem; */
    }
    .WhatWeDo-leftsection4{
        max-width: 23.188rem;
        /* max-height: 25rem; */
    }
    .WhatWeDo-leftsection6{
        max-width: 23.188rem;
        /* max-height: 25rem; */
    }
    .WhatWeDo-rightsection1{
        max-width: 23.188rem;
        height: auto;
    }
    .WhatWeDo-rightsection3{
        max-width: 23.188rem;
        /* max-height: 25rem; */
    }
    .WhatWeDo-rightsection5{
        max-width: 23.188rem;
        /* max-height: 25rem; */
    }
    .WhatWeDo-rightsection2{
        margin-top: 1rem;
    }
    .WhatWeDo-vector2 {
        z-index: -1;
        margin-left: -6.25rem;
        margin-right: -0.25rem;
        margin-top: 12.25rem;
    }
    .WhatWeDo-spaceinleftsection{
        height: 0rem;
    }
    .WhatWeDo-paragraphediting{
        max-width: 40.375rem;
        /* height: 25.263rem; */
        flex-shrink: 0;
        margin: 0rem;
    }
    .WhatWeDo-paragraphediting h1{
        max-width: 25.5rem;
        color: #000;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .WhatWeDo-paragraphediting h3{
        max-width: 25.25rem;
        color: #000;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .WhatWeDo-paragraphediting p{
        color: #000;
        font-size: 0.938rem;
        font-family: Calibri;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 23rem;
    }
    .WhatWeDo-beforeimage {
        border-radius: 3.75rem;
        max-width: 28.3125rem;
        height: 20.375rem;
        position: absolute;
        right: 0rem;
        top: 0rem;
        /* left: auto; */
        z-index: -1;
    
    }
    .WhatWeDo-paragraphediting{
        /* margin-bottom: 0rem; */
    }
    .WhatWeDo-imageediting0 {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
        /* margin-top: 1.5rem; */

    }
    .WhatWeDo-imageediting1 {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        max-width: 100%;
        height: auto;
        
    }
    .WhatWeDo-imageediting2 {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        max-width: 100%;
        height: auto;
        
    }
    .WhatWeDo-imageediting3 {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        max-width: 100%;
        height: auto;

    }
    .WhatWeDo-imageediting4 {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        max-width: 100%;
        height: auto;
    }
    .WhatWeDo-imageediting5 {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        max-width: 100%;
        height: auto;
    }
    
    .WhatWeDo-tabletviewpath{
        display: block;

    }
    .WhatWeDo-webviewpath{
        display: none;
    }
    .WhatWeDo-index-maincontainer2{
        row-gap: 0.625rem;
    }    
    .WhatWeDo-index-maincontainer2 h1{
        color: #000;
        font-family: Calibri;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }    
    .WhatWeDo-index-maincontainer2 p{
        color: #000;
        text-align: center;
        font-family: Calibri;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }    
    .WhatWeDo-index-maincontainer2-section{
        column-gap: 2.188rem;
    }
    .WhatWeDo-index-maincontainer2{
        font-size: 2.5rem;
    }
    
    .WhatWeDo-index-maincontainer2 p{
        font-size: 1rem;
        max-width: 48.75rem;
    }
    .WhatWeDo-index-maincontainer2-section h1{
        text-align: center;
        font-size: 2rem;

    }
    
    .WhatWeDo-index-maincontainer2-section h3{
        font-size: 1.375rem;

    }
    /* .WhatWeDo-rightsectiondown{
        height: 52.625rem;
    } */
    .WhatWeDo-leftsectiondown p{
        max-width: 30.125rem ;
        font-weight: 400;
        text-align: left;
    }
    
    .WhatWeDo-rightsectiondown p{
        max-width: 30.125rem ;
        font-weight: 400;
        text-align: left;
        /* margin-bottom: 12.813rem; */
    }
    .WhatWeDo-leftsectiondownimage{
        max-width: 100%;
    height: auto;
        align-items: center;
    }
    .WhatWeDo-rightsectiondownimage{
        max-width: 100%;
    height: auto;
        align-items: center;
    }

    
}
/* mobile view css */
@media only screen and (max-width:40.625rem){
    .WhatWeDo-mobileview{
        display: block;
    }
    .WhatWeDo-webview{
        display: none;
    }
    .WhatWeDo-tabletviewpath{
        display: none;
    }
    .WhatWeDo-beforeimage{
        display: none;
    }
    .WhatWeDo-service-container{
        margin: 0.3125rem;
    }
    .WhatWeDo-service-container h1{
        font-size: 2rem;
    }
    .WhatWeDo-heading-line{
        max-width: 3.6875rem;
    }
    .WhatWeDo-index-maincontainer{
        margin-left: 2rem;
        margin-right: 2rem;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .WhatWeDo-index-maincontainer2{
        flex-direction: column;
    }
    .WhatWeDo-index-maincontainer2-section{
        flex-direction: column;
    }
    .WhatWeDo-rightsection1{
        display: none;
    }
    .WhatWeDo-spaceinleftsection{
        height: 2.188rem;
    }
    .WhatWeDo-paragraphediting{
        max-width: 22.1563rem;
        margin-bottom: 0rem;
        /* height: 16.813rem; */
    }
    .WhatWeDo-paragraphediting h1{
        max-width: 20.3125rem;
        font-size: 1.625rem;
    }
    .WhatWeDo-paragraphediting h3{
        max-width: 18.75rem;
        font-size: 1.25rem;

    }
    .WhatWeDo-paragraphediting p{
        max-width: 21.875rem;
        font-size: 0.8125rem;
    
    }
    .WhatWeDo-imageediting{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0rem;
    margin-top: 0rem;
        
    }
    .WhatWeDo-imageediting0{
        max-width: 100%;
        height: auto;
        margin-bottom: 5rem;
    margin-top: 6.5rem;
    }
    .WhatWeDo-imageediting1 {
        max-width: 100%;
        height: auto;
        margin-bottom: 5rem;
    margin-top: 6.5rem;
    }
    .WhatWeDo-imageediting2 {
        max-width: 100%;
        height: auto;
        margin-bottom: 5rem;
    margin-top: 6.5rem;
    }
    .WhatWeDo-imageediting3 {
        max-width: 100%;
        height: auto;
        margin-bottom: 5rem;
    margin-top: 6.5rem;

    }
    .WhatWeDo-imageediting4 {
        max-width: 100%;
        height: auto;
        margin-bottom: 5rem;
    margin-top: 6.5rem;
    }
    .WhatWeDo-imageediting5 {
        max-width: 100%;
        height: auto;
        margin-bottom: 5rem;
    margin-top: 6.5rem;
    }
    .WhatWeDo-index-maincontainer2{
        row-gap: 0.3125rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .WhatWeDo-index-maincontainer2 h1{
        font-size: 1.875rem;
    }
    .WhatWeDo-index-maincontainer2 p{
        font-size: 0.875rem;
        margin-bottom: 1.375rem;
    }
    .WhatWeDo-index-maincontainer2-section h1{
        font-size: 1.5rem;
        margin-bottom: -0.625rem;
    }
    .WhatWeDo-index-maincontainer2-section h3{
        font-size: 1.125rem;
    }
    .WhatWeDo-rightcontainer{
        max-width: 26rem;
    }
    .WhatWeDo-rightsectiondown{
        height: auto;
    }
    .WhatWeDo-leftsectiondown p{
        text-align: left;
    }
    .WhatWeDo-rightsectiondown p{
        text-align: left;
    }
    .WhatWeDo-leftsectiondownimage{
        max-width: 100%;
        height: auto;
        align-items: center;
        margin: auto;
    }
    .WhatWeDo-rightsectiondownimage{
        max-width: 100%;
        height: auto;
        align-items: center;
        margin: auto;
    }
    .WhatWeDo-paragraphediting-firstdiv{
        display: flex;
        
        

    }
    .WhatWeDo-paragraphediting-seconddiv{
        display: flex;
        flex-direction: column;
    }
    .WhatWeDo-leftsection-section1-line{
        margin-right: 0.3125rem;
        margin-top: 0.938rem;
        max-width: 0rem;
        height: 1.5625rem;
        border: 0.0938rem black solid;
    }
    .WhatWeDo-leftsection-section3-line{
        margin-right: 0.3125rem;
    margin-top: 0.957rem

;
    max-width: 0rem;
    height: 2.2109rem;
        border: 0.0938rem black solid;
    }
    .WhatWeDo-leftsection-section5-line{
        margin-right: 0.3125rem;
        margin-top: 0.938rem;
        max-width: 0rem;
        height: 1.6875rem;
        border: 0.0938rem black solid;
    }
    .WhatWeDo-rightsection-section2-line{
        margin-right: 0.3125rem;
        margin-top: 0.875rem;
        max-width: 0rem;
        height: 2rem;
        border: 0.0938rem black solid;
    }
    .WhatWeDo-rightsection-section4-line{
        margin-right: 0.3125rem;
        margin-top: 1rem;
        max-width: 0rem;
        height: 1.6875rem;
        border: 0.0938rem black solid;
    }
    .WhatWeDo-rightsection-section6-line{
        margin-right: 0.3125rem;
        margin-top: 1.25rem;
        max-width: 0rem;
        height: 3.375rem;
        border: 0.0938rem black solid;
    }
    .WhatWeDo-visibleimage{
        display: block;

    }
    .WhatWeDo-imagedownsection{
        display: none;
    }
}