*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.index-maincontainer{
    margin-left: 2rem;
    margin-right: 2rem;
}
.leftcontainer{
    display: flex;
    flex-direction: column;
}
body{
    background-color: #F4EEDB;
}
.line-img{
    display: none;
}
.service-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.service-container h1{
    
    color: #0A4988; font-size: 3.75rem; font-family: Calibri; font-weight: 700; word-wrap: break-word;
}
.index-maincontainer{
    display: flex;
    justify-content: center;
    /* gap: 11.25rem; */

}
.leftcontainer{
    display: flex;
    flex-direction: column;
}
.spaceinleftsection{
    max-height: 3.438rem;
}
.rightcontainer{
    display: flex;
    flex-direction: column;
}
.midcontainer{
    z-index: -1;
}
.vector1{
    
    z-index: -1;
    margin-left: -11.25rem;
    margin-right: -0.25rem;
    margin-top: 12.25rem;
    
}
.vector2{
    z-index: -1;
    margin-left: -6.25rem;
    margin-right: -6.25rem;
    margin-top: 6.25rem;
    
}
.paragraphediting{
    /* height: 31.125rem; */
    max-width: 34.938rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-bottom: 2.938rem;

}

.tabletviewpath{
    display: none;
}
.paragraphediting h1{
    font-size: 3.75rem;
    max-width: 56.375rem;
    /* min-width: 18.938rem; */
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.paragraphediting h3{
    font-size: 2.5rem;
    color: #000;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.paragraphediting p{
    font-size: 1.125rem;
    color: #000;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.imageediting{
    width: 100%;
    height: auto;
}
.imageediting1 {
    max-width: 100%;
    height: auto;
    margin-bottom: 4.0625rem;
}
.imageediting2 {
    max-width: 100%;
    height: auto;
    margin-bottom: 7.875rem;
}
.imageediting3 {
    max-width: 100%;
    height: auto;
    margin-bottom: 7.875rem;
}
.imageediting4 {
    max-width: 100%;
    height: auto;
    margin-bottom: 2.875rem;
}
.imageediting5 {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.875rem;
}
.rightsection1{
    max-width: 40.813rem;
    height: 34.5rem;
}

.beforeimage {
    border-radius: 3.75rem;
    max-width: 53.313rem;
    max-height:38.375rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
    z-index: -1;

}
.index-maincontainer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.index-maincontainer2-section{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    column-gap: 4.688rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.index-maincontainer2 h1{
    color: #000;
    font-size: 3.75rem;
    font-family: Calibri;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.index-maincontainer2 p{
    color: #000;
    text-align: center;
    font-size: 1.125rem;
    font-family: Calibri;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 74.375rem;
}
.rightsectiondown{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.leftsectiondown{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.index-maincontainer2-section h1{
    color: #000;
    font-size: 2.5rem;
    font-family: Calibri;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    /* max-height: 3.063rem; */
}
.index-maincontainer2-section h3{
    color: #000;
    font-size: 1.625rem;
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    /* max-height: 4.125rem; */
}

.leftsectiondown p{
    max-width: 45.938rem;
    margin-bottom: 2.813rem;
    text-align: left;
    font-weight: 400;
}
.rightsectiondown p{
    max-width: 45.938rem;
    margin-bottom: 7.313rem;
    text-align: left;
    font-weight: 400;
}
.rightsectiondown h1{
    text-align: center;
    /* height: 3.063rem; */
}
.rightsectiondownimage{
    max-width: 100%;
    height: auto;
}
.leftsectiondownimage{
    max-width: 100%;
    height: auto;
}
.vector3{
    display: none;
}



/* tabletviewcss */
@media only screen and (max-width:81.25rem){
    
    .service-container{
        margin: 0.625rem;
    }
    .service-container h1{
        color: #0A4988;
        font-size: 3rem;
        font-family: Calibri;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
    }
    .heading-line{
        max-width: 5.25rem;
    }
    
    .rightsection1{
        max-width: 23.188rem;
        height: 16.875rem;
    }
    .vector2 {
        z-index: -1;
        margin-left: -6.25rem;
        margin-right: -0.25rem;
        margin-top: 12.25rem;
    }
    .spaceinleftsection{
        height: 2.188rem;
    }
    .paragraphediting{
        max-width: 40.375rem;
        /* height: 25.263rem; */
        flex-shrink: 0;
    }
    .paragraphediting h1{
        max-width: 25.5rem;
        color: #000;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .paragraphediting h3{
        max-width: 25.25rem;
        color: #000;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .paragraphediting p{
        color: #000;
        font-size: 0.938rem;
        font-family: Calibri;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .beforeimage {
        border-radius: 3.75rem;
        max-width: 28.3125rem;
        height: 20.375rem;
        position: absolute;
        right: 0rem;
        top: 0rem;
        /* left: auto; */
        z-index: -1;
    
    }
    .imageediting1 {
        margin-bottom: 1.125rem;
        margin-top: -2rem;
        max-width: 100%;
        height: auto;
    }
    .imageediting2 {
        margin-bottom: 1.1875rem;
        margin-top: -2rem;
        max-width: 100%;
        height: auto;
    }
    .imageediting3 {
        margin-bottom: 1.875rem;
        margin-top: -1.5625rem;
        max-width: 100%;
        height: auto;

    }
    .imageediting4 {
        margin-bottom: 0rem;
        margin-top: -1.625rem;
        max-width: 100%;
        height: auto;
    }
    .imageediting5 {
        margin-bottom: 0.6875rem;
        margin-top: -2rem;
        max-width: 100%;
        height: auto;
    }
    
    .tabletviewpath{
        display: block;

    }
    .webviewpath{
        display: none;
    }
    .index-maincontainer2{
        row-gap: 0.625rem;
    }    
    .index-maincontainer2-section{
        column-gap: 2.188rem;
    }
    .index-maincontainer2{
        font-size: 2.5rem;
    }
    
    .index-maincontainer2 p{
        font-size: 1rem;
        max-width: 48.75rem;
    }
    .index-maincontainer2-section h1{
        text-align: center;
        font-size: 2rem;

    }
    
    .index-maincontainer2-section h3{
        font-size: 1.375rem;

    }
    .rightsectiondown{
        height: 52.625rem;
    }
    .leftsectiondown p{
        max-width: 30.125rem ;
    }
    
    .rightsectiondown p{
        max-width: 30.125rem ;
        margin-bottom: 12.813rem;
    }
    .leftsectiondownimage{
        max-width: 100%;
    height: auto;
        align-items: center;
    }
    .rightsectiondownimage{
        max-width: 100%;
    height: auto;
        align-items: center;
    }

    
}
/* mobile view css */
@media only screen and (max-width:40.625rem){
    .tabletviewpath{
        display: none;
    }
    .beforeimage{
        display: none;
    }
    .service-container{
        margin: 0.3125rem;
    }
    .service-container h1{
        font-size: 2rem;
    }
    .heading-line{
        max-width: 3.6875rem;
    }
    .index-maincontainer{
        margin-left: 2rem;
        margin-right: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .index-maincontainer2{
        flex-direction: column;
    }
    .index-maincontainer2-section{
        flex-direction: column;
    }
    .rightsection1{
        display: none;
    }
    .spaceinleftsection{
        height: 2.188rem;
    }
    .paragraphediting{
        max-width: 22.1563rem;
        /* height: 16.813rem; */
    }
    .paragraphediting h1{
        max-width: 20.3125rem;
        font-size: 1.625rem;
    }
    .paragraphediting h3{
        max-width: 18.75rem;
        font-size: 1.25rem;

    }
    .paragraphediting p{
        max-width: 21.875rem;
        font-size: 0.8125rem;
    
    }
    .imageediting1 {
        max-width: 100%;
        height: auto;
    }
    .imageediting2 {
        max-width: 100%;
        height: auto;
    }
    .imageediting3 {
        max-width: 100%;
        height: auto;

    }
    .imageediting4 {
        max-width: 100%;
        height: auto;
    }
    .imageediting5 {
        max-width: 100%;
        height: auto;
    }
    .index-maincontainer2{
        row-gap: 0.3125rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .index-maincontainer2 h1{
        font-size: 1.875rem;
    }
    .index-maincontainer2 p{
        font-size: 0.875rem;
        margin-bottom: 1.375rem;
    }
    .index-maincontainer2-section h1{
        font-size: 1.5rem;
        margin-bottom: -0.625rem;
    }
    .index-maincontainer2-section h3{
        font-size: 1.125rem;
    }
    .rightsectiondown{
        height: auto;
    }
    .leftsectiondown p{
        text-align: center;
    }
    .rightsectiondown p{
        text-align: center;
    }
    .leftsectiondownimage{
        max-width: 100%;
        height: auto;
        align-items: center;
        margin: auto;
    }
    .rightsectiondownimage{
        max-width: 100%;
        height: auto;
        align-items: center;
        margin: auto;
    }
    .paragraphediting-firstdiv{
        display: flex;
        
        

    }
    .paragraphediting-seconddiv{
        display: flex;
        flex-direction: column;
    }
    .leftsection-section1-line{
        margin-right: 0.3125rem;
        margin-top: 0.938rem;
        max-width: 0rem;
        height: 1.5625rem;
        border: 0.0938rem black solid;
    }
    .leftsection-section3-line{
        margin-right: 0.3125rem;
    margin-top: 0.957rem

;
    max-width: 0rem;
    height: 2.2109rem;
        border: 0.0938rem black solid;
    }
    .leftsection-section5-line{
        margin-right: 0.3125rem;
        margin-top: 0.938rem;
        max-width: 0rem;
        height: 1.6875rem;
        border: 0.0938rem black solid;
    }
    .rightsection-section2-line{
        margin-right: 0.3125rem;
        margin-top: 0.875rem;
        max-width: 0rem;
        height: 2rem;
        border: 0.0938rem black solid;
    }
    .rightsection-section4-line{
        margin-right: 0.3125rem;
        margin-top: 1rem;
        max-width: 0rem;
        height: 1.6875rem;
        border: 0.0938rem black solid;
    }
    .rightsection-section6-line{
        margin-right: 0.3125rem;
        margin-top: 1.25rem;
        max-width: 0rem;
        height: 3.375rem;
        border: 0.0938rem black solid;
    }
}